<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>travellers_den</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<style>
      h1 {text-align: center;}
      p {text-align: center;}
      button{ margin: 40px;}

   </style>
</head>
<body class="container-sm">
<div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

<h1 class="font-monospace" style="text-c">Flask Task</h1>
<br>
<div>
    <img  class="rounded mx-auto d-block" src="static/van-7851107_960_720.jpg"/>
    <br>
</div>

    <figure class="text-center">
  <blockquote class="blockquote">
    <p>The world is a book, and those who do not travel read only one page.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    By <cite title="Source Title">Saint Augustine</cite>
  </figcaption>
</figure>
        <div class="mx-auto p-2" style="width: 75%;">
            <p>Travelling is an experience like no other. It allows you to step out of your comfort zone and explore new places, cultures, and people. Whether it's a short trip to a nearby city or a long journey to a far-off land, travel can enrich your life in countless ways.</p>

            <p>One of the most exciting aspects of travelling is the opportunity to try new things. You can sample local cuisine, try new activities, and immerse yourself in different customs and traditions. This can broaden your horizons and give you a fresh perspective on life.</p>
            <br>

            <p>Travelling can also help you to develop important life skills such as adaptability, problem-solving, and communication. When you're in a foreign environment, you need to be flexible and able to deal with unexpected situations. This can help you to become more resilient and confident in your everyday life.</p>
            <br>

            <p>Another benefit of travelling is the chance to create unforgettable memories. Whether it's exploring ancient ruins, hiking through a national park, or simply enjoying a beautiful sunset, these experiences can stay with you for a lifetime. They can also provide a source of inspiration and motivation for years to come.</p>
            <br>

            <p>Of course, travelling isn't always easy. It can be challenging to navigate new cultures and languages, deal with unexpected setbacks, and adjust to different climates and time zones. However, these challenges can also be opportunities for growth and learning. By facing them head-on, you can build your confidence and resilience, and become a more well-rounded person.</p>
            <br>

            <p>Overall, travelling is an incredible way to explore the world, learn new things, and create lifelong memories. Whether you're planning a solo adventure, a romantic getaway, or a family vacation, there's no better time to start than now. So pack your bags, book your tickets, and get ready to embark on the journey of a lifetime!</p>
            <br>

    </div>
    <h1 class="font-monospace"> Want to join Us</h1>
<!--    <div >-->
<!--        {% for i in travel_buddy: %}-->
<!--        <h3 style="text-align: left; font-weight: lighter; font-style: normal;">Location :{{i["location"]}}</h3>-->
<!--        <h5  style="text-align: left; font-weight: lighter; font-style: normal;">budget :{{i["budget"]}}</h5>-->
<!--        <h5  style="text-align: left; font-weight: lighter; font-style: normal;">start date :{{i["start_date"]}}</h5>-->

<!--        <button type="button" class="btn btn-secondary">Secondary</button>-->
<!--         <br>-->
<!--        <br>-->
<!--        {%endfor%}-->

<!--    </div>-->

    <div class="container">
    <div class="row">
        {% for i in travel_buddy: %}
        <div class="col-10 bg-light text-right">
        <h3 style="text-align: left; font-weight: lighter; font-style: normal;">Location :{{i["location"]}}</h3>
        <h5  style="text-align: left; font-weight: lighter; font-style: normal;">budget :{{i["budget"]}}</h5>
        <h5  style="text-align: left; font-weight: lighter; font-style: normal;">start date :{{i["start_date"]}}</h5>
            <br>
            <hr class="style1">
        </div>
        <div class="col bg-light text-right">
            <button type="button" class="btn btn-warning " style="text-align: center; ">Apply</button>

        </div>
        {%endfor%}
    </div>

</div>
</div>




</body>
</html>